*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    margin: auto 12%;
    background-color: white;
}

button{
    cursor: pointer
}


@import 'navbar';
@import 'section_hero';
@import 'section_two';
@import 'section_three';
@import 'section_four';
@import 'section_five';